<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>servlets.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>servlets.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckLogin</servlet-name>
        <servlet-class>servlets.CheckLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitNewSurvey</servlet-name>
        <servlet-class>servlets.InitNewSurvey</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Submit</servlet-name>
        <servlet-class>servlets.Submit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitSurvey</servlet-name>
        <servlet-class>servlets.SubmitSurvey</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitQuestion</servlet-name>
        <servlet-class>servlets.SubmitQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitAnswer</servlet-name>
        <servlet-class>servlets.SubmitAnswer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadPreview</servlet-name>
        <servlet-class>servlets.LoadPreview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadSurvey</servlet-name>
        <servlet-class>servlets.LoadSurvey</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncrementAnswer</servlet-name>
        <servlet-class>servlets.IncrementAnswer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncrementQuestion</servlet-name>
        <servlet-class>servlets.IncrementQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncrementSurvey</servlet-name>
        <servlet-class>servlets.IncrementSurvey</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InputAnswer</servlet-name>
        <servlet-class>servlets.InputAnswer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MySurveys</servlet-name>
        <servlet-class>servlets.MySurveys</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewResults</servlet-name>
        <servlet-class>servlets.ViewResults</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckLogin</servlet-name>
        <url-pattern>/CheckLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitNewSurvey</servlet-name>
        <url-pattern>/InitNewSurvey</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Submit</servlet-name>
        <url-pattern>/Submit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitSurvey</servlet-name>
        <url-pattern>/SubmitSurvey</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitQuestion</servlet-name>
        <url-pattern>/SubmitQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitAnswer</servlet-name>
        <url-pattern>/SubmitAnswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadPreview</servlet-name>
        <url-pattern>/LoadPreview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadSurvey</servlet-name>
        <url-pattern>/LoadSurvey</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncrementAnswer</servlet-name>
        <url-pattern>/IncrementAnswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncrementQuestion</servlet-name>
        <url-pattern>/IncrementQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncrementSurvey</servlet-name>
        <url-pattern>/IncrementSurvey</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InputAnswer</servlet-name>
        <url-pattern>/InputAnswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MySurveys</servlet-name>
        <url-pattern>/MySurveys</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewResults</servlet-name>
        <url-pattern>/ViewResults</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
